@use "../tokens.scss" as *;

$spaces: (
    "3xs": var(--space-3xs),
    "2xs": var(--space-2xs),
    "xs": var(--space-xs),
    "s": var(--space-s),
    "m": var(--space-m),
    "l": var(--space-l),
    "xl": var(--space-xl),
    "2xl": var(--space-2xl),
    "3xl": var(--space-3xl),
    "auto": auto,
    "0": 0,
);

@each $name, $value in $spaces {
    .m-#{$name} {
        margin: $value;
    }

    .mt-#{$name} {
        margin-block-start: $value;
    }

    .mb-#{$name} {
        margin-block-end: $value;
    }

    .my-#{$name} {
        margin-block: $value;
    }

    .mx-#{$name} {
        margin-inline: $value;
    }

    .ml-#{$name} {
        margin-inline-start: $value;
    }

    .mr-#{$name} {
        margin-inline-end: $value;
    }

}
